// Pixel art examples explored at https://css-tricks.com/fun-times-css-pixel-art/ -> author credit: Geoff Graham

// a way to remove container and use just .player class??
.player-container {
    // sets proper font size for accurate game piece rendering 
    // change piece size here if needed
    font-size: 0.2rem;
    width: 25em;
    height: 25em;
    position: relative;
    background-color: $hacker-empty-block;
}

.player {
    position: absolute;
    top: 0;
    // determines dimensions of pixels
    // percentage based, changes with container dimensions
    height: 6.25%;
    width: 6.25%;

    box-shadow:
    // layers lay horizontal, run left to right, stack top to bottom
    // values must be "em" for proper piece resizing

    // layer 1 - start head
        7.5em 0 0 $hacker-black,
        9em 0 0 $hacker-black,
        10.5em 0 0 $hacker-black,
        12em 0  0 $hacker-black,
        13.5em 0 0 $hacker-black,

    // layer 2
        6em 1.5em 0 $hacker-black,
        7.5em 1.5em 0 $hacker-red,
        9em 1.5em 0 $hacker-red,
        10.5em 1.5em 0 $hacker-red,
        12em 1.5em  0 $hacker-red,
        13.5em 1.5em 0 $hacker-red,
        15em 1.5em 0 $hacker-black,

    // layer 3
        4.5em 3em 0 $hacker-black,
        6em 3em 0 $hacker-red,
        7.5em 3em 0 $hacker-red,
        9em 3em 0 $hacker-black,
        10.5em 3em 0 $hacker-black,
        12em 3em  0 $hacker-black,
        13.5em 3em 0 $hacker-black,
        15em 3em 0 $hacker-black,
        16.5em 3em 0 $hacker-black,
        18em 3em 0 $hacker-black,

    // layer 4
        4.5em 4.5em 0 $hacker-black,
        6em 4.5em 0 $hacker-red,
        7.5em 4.5em 0 $hacker-black,
        9em 4.5em 0 $hacker-black,
        10.5em 4.5em 0 $hacker-black,
        12em 4.5em  0 $hacker-black,
        13.5em 4.5em 0 $hacker-black,
        15em 4.5em 0 $hacker-black,
        16.5em 4.5em 0 $hacker-black,

    // layer 5
        4.5em 6em 0 $hacker-black,
        6em 6em 0 $hacker-player-skin,
        7.5em 6em 0 $hacker-player-skin,
        9em 6em 0 $hacker-player-skin,
        10.5em 6em 0 $hacker-player-skin,
        12em 6em  0 $hacker-player-skin,
        13.5em 6em 0 $hacker-player-skin,
        15em 6em 0 $hacker-player-skin,

    // layer 6
        4.5em 7.5em 0 $hacker-black,
        6em 7.5em 0 $hacker-player-skin,
        7.5em 7.5em 0 $hacker-player-skin,
        9em 7.5em 0 $hacker-player-skin,
        10.5em 7.5em 0 $hacker-player-skin,
        12em 7.5em  0 $hacker-player-skin,
        13.5em 7.5em 0 $hacker-player-skin,
        15em 7.5em 0 $hacker-player-skin,

    // layer 7
        6em 9em 0 $hacker-black,
        7.5em 9em 0 $hacker-player-skin,
        9em 9em 0 $hacker-player-skin,
        10.5em 9em 0 $hacker-player-skin,
        12em 9em  0 $hacker-player-skin,
        13.5em 9em 0 $hacker-player-skin,
        15em 9em 0 $hacker-player-skin,

    // layer 8 - start torso
        4.5em 10.5em 0 $hacker-black,
        6em 10.5em 0 $hacker-player-gray,
        7.5em 10.5em 0 $hacker-player-gray,
        9em 10.5em 0 $hacker-player-gray,
        10.5em 10.5em 0 $hacker-player-gray,
        12em 10.5em  0 $hacker-player-gray,
        13.5em 10.5em 0 $hacker-player-gray,
        15em 10.5em 0 $hacker-player-gray,

    // layer 9
        3em 12em 0 $hacker-black,
        4.5em 12em 0 $hacker-player-gray,
        6em 12em 0 $hacker-player-gray,
        7.5em 12em 0 $hacker-black,
        9em 12em 0 $hacker-player-gray,
        10.5em 12em 0 $hacker-player-gray,
        12em 12em  0 $hacker-player-gray,
        13.5em 12em 0 $hacker-player-gray,
        15em 12em 0 $hacker-player-gray,
        16.5em 12em 0 $hacker-black,

    // layer 10
        3em 13.5em 0 $hacker-black,
        4.5em 13.5em 0 $hacker-player-gray,
        6em 13.5em 0 $hacker-player-gray,
        7.5em 13.5em 0 $hacker-black,
        9em 13.5em 0 $hacker-player-gray,
        10.5em 13.5em 0 $hacker-player-gray,
        12em 13.5em  0 $hacker-player-gray,
        13.5em 13.5em 0 $hacker-player-gray,
        15em 13.5em 0 $hacker-player-gray,
        16.5em 13.5em 0 $hacker-black,

     // layer 11
        4.5em 15em 0 $hacker-player-skin,
        6em 15em 0 $hacker-player-skin,
        7.5em 15em 0 $hacker-black,
        9em 15em 0 $hacker-player-gray,
        10.5em 15em 0 $hacker-player-gray,
        12em 15em  0 $hacker-player-gray,
        13.5em 15em 0 $hacker-player-gray,
        15em 15em 0 $hacker-player-gray,
        16.5em 15em 0 $hacker-black,

    // layer 12 - start legs
        7.5em 16.5em 0 $hacker-player-blue,
        9em 16.5em 0 $hacker-player-blue,
        10.5em 16.5em 0 $hacker-player-blue,
        12em 16.5em  0 $hacker-player-blue,
        13.5em 16.5em 0 $hacker-player-blue,
        15em 16.5em 0 $hacker-player-blue,

    // layer 13
        7.5em 18em 0 $hacker-player-blue,
        9em 18em 0 $hacker-player-blue,
        10.5em 18em 0 $hacker-player-blue,
        12em 18em  0 $hacker-black,
        13.5em 18em 0 $hacker-player-blue,
        15em 18em 0 $hacker-player-blue,

    // layer 14
        7.5em 19.5em 0 $hacker-player-blue,
        9em 19.5em 0 $hacker-player-blue,
        10.5em 19.5em 0 $hacker-player-blue,
        12em 19.5em  0 $hacker-black,
        13.5em 19.5em 0 $hacker-player-blue,
        15em 19.5em 0 $hacker-player-blue,

    // layer 15 - start feet
        7.5em 21em 0 $hacker-black,
        9em 21em 0 $hacker-white,
        10.5em 21em 0 $hacker-black,
        12em 21em  0 $hacker-black,
        13.5em 21em 0 $hacker-white,
        15em 21em 0 $hacker-white,
        16.5em 21em 0 $hacker-black,

    // layer 16
        6em 22.5em 0 $hacker-black,
        7.5em 22.5em 0 $hacker-white,
        9em 22.5em 0 $hacker-white,
        10.5em 22.5em 0 $hacker-white,
        12em 22.5em  0 $hacker-black,
        13.5em 22.5em 0 $hacker-white,
        15em 22.5em 0 $hacker-white,
        16.5em 22.5em 0 $hacker-white,
        18em 22.5em 0 $hacker-black;
}