// Pixel art examples explored at https://css-tricks.com/fun-times-css-pixel-art/ -> author credit: Geoff Graham

.hacker-pillon-container {
    // change parent font-size to re-size all aspects of element
    background-color: $hacker-empty-block;
    width: 25em;
    height: 25em;
    position: absolute;
}

.hacker-pillon {
    position: absolute;
    top: 0;
    // determins dimensions of pixels
    // percentage based, changes with container dimensions
    height: 6.25%;
    width: 6.25%;

    box-shadow:
    // layers lay horizontal, run left to right, stack top to bottom
    // values must be "em" for proper piece resizing

    // layer 1
        10.5em 7.5em 0 $hacker-pillon-orange,
        12em 7.5em 0 $hacker-pillon-orange,
    
    // layer 2
        9.75em 9em 0 $hacker-white,
        10.5em 9em 0 $hacker-white,
        12em 9em 0 $hacker-white,
        12.75em 9em 0 $hacker-white,

    // layer 3
        9em 10.5em 0 $hacker-pillon-orange,
        10.5em 10.5em 0 $hacker-pillon-orange,
        12em 10.5em 0 $hacker-pillon-orange,
        13.5em 10.5em 0 $hacker-pillon-orange,
    
    // layer 4
        8.25em 12em 0 $hacker-white,
        9em 12em 0 $hacker-white,
        10.5em 12em 0 $hacker-white,
        12em 12em 0 $hacker-white,
        13.5em 12em 0 $hacker-white,
        14.25em 12em 0 $hacker-white,
    
    // layer 5
        7.5em 13.5em 0 $hacker-pillon-orange,
        9em 13.5em 0 $hacker-pillon-orange,
        10.5em 13.5em 0 $hacker-pillon-orange,
        12em 13.5em 0 $hacker-pillon-orange,
        13.5em 13.5em 0 $hacker-pillon-orange,
        15em 13.5em 0 $hacker-pillon-orange,
    
    // layer 6
        6.75em 15em 0 $hacker-pillon-orange,
        7.5em 15em 0 $hacker-pillon-orange,
        9em 15em 0 $hacker-pillon-orange,
        10.5em 15em 0 $hacker-pillon-orange,
        12em 15em 0 $hacker-pillon-orange,
        13.5em 15em 0 $hacker-pillon-orange,
        15em 15em 0 $hacker-pillon-orange,
        15.75em 15em 0 $hacker-pillon-orange,

    // layer 7
        6em 16.5em 0 $hacker-pillon-orange,
        7.5em 16.5em 0 $hacker-pillon-orange,
        9em 16.5em 0 $hacker-pillon-orange,
        10.5em 16.5em 0 $hacker-pillon-orange,
        12em 16.5em 0 $hacker-pillon-orange,
        13.5em 16.5em 0 $hacker-pillon-orange,
        15em 16.5em 0 $hacker-pillon-orange,
        16.5em 16.5em 0 $hacker-pillon-orange,
    
    // layer 7.5
        4.5em 17.25em 0 $hacker-pillon-gray,
        18em 17.25em 0 $hacker-pillon-gray,
    
    // layer 8
        3.75em 18em 0 $hacker-pillon-gray,
        4.5em 18em 0 $hacker-pillon-gray,
        6em 18em 0 $hacker-pillon-gray,
        7.5em 18em 0 $hacker-pillon-gray,
        9em 18em 0 $hacker-pillon-gray,
        10.5em 18em 0 $hacker-pillon-gray,
        12em 18em 0 $hacker-pillon-gray,
        13.5em 18em 0 $hacker-pillon-gray,
        15em 18em 0 $hacker-pillon-gray,
        16.5em 18em 0 $hacker-pillon-gray,
        18em 18em 0 $hacker-pillon-gray,
        18.75em 18em 0 $hacker-pillon-gray,
    ;
}