// Pixel art examples explored at https://css-tricks.com/fun-times-css-pixel-art/ -> author credit: Geoff Graham

.hacker-chip-container {
    // sets proper font size for accurate game piece rendering 
    // change piece size here if needed
    font-size: 1rem;
    width: 24rem;
    height: 24rem;
    background-color: $hacker-red;
    position: relative;
    top: 150px;
    left: 40%;
    // animation: hacker-chip-bounce 1.6s ease-in-out infinite;
}

// at 24 x 24rem each pixel is 3 x 3rem 
// creates 8 x 8 pixel grid

.hacker-chip {
    position: absolute;
    top: 0;
    // determins dimensions of pixels
    // percentage based, changes with container dimensions
    height: 12.5%;
    width: 12.5%;

    box-shadow: 
        // arrow head
        1.5em 1.5em 0 $hacker-white,
        3em 3em 0 $hacker-white,
        4.5em 4.5em 0 $hacker-white,
        3em 6em 0 $hacker-white,
        1.5em 7.5em 0 $hacker-white,
        // bottom line mask
        4.5em 6.25em 0 $hacker-red,
        6em 6.25em 0 $hacker-red,
        7.5em 6.25em 0 $hacker-red,
        // bottom line
        4.5em 7.5em 0 $hacker-white,
        6em 7.5em 0 $hacker-white,
        7.5em 7.5em 0 $hacker-white;
}

// hacker-chip animation
@keyframes hacker-chip-bounce {
    0%{ transform: translateY(0rem);
        box-shadow: 0 0 1.5rem 1rem #eee}
    50%{ transform: translateY(-1rem);
        box-shadow: 0 0 2rem 1.5rem #eee}
    100%{ transform: translateY(0rem);
        box-shadow: 0 0 1.5rem 1rem #eee}
}