// Pixel art examples explored at https://css-tricks.com/fun-times-css-pixel-art/ -> author credit: Geoff Graham

// a way to reove container and use just .player class??
.player-container {
    // sets proper font size for accurate game piece rendering 
    // change piece size here if needed
    // font-size: 0.15rem;
    // width: 25em;
    // height: 25em;
    position: relative;
    background-color: $hacker-empty-block;
}

.player {
    position: absolute;
    top: 0;
    // determines dimensions of pixels
    // percentage based, changes with container dimensions
    height: 6.25%;
    width: 6.25%;

    box-shadow:
    // layers lay horizontal, run left to right, stack top to bottom
    // values must be "em" for proper piece resizing

    // layer 1 - start head
        7.5% 0 0 $hacker-black,
        9% 0 0 $hacker-black,
        10.5% 0 0 $hacker-black,
        12% 0  0 $hacker-black,
        13.5% 0 0 $hacker-black,

    // layer 2
        6% 1.5% 0 $hacker-black,
        7.5% 1.5% 0 $hacker-red,
        9% 1.5% 0 $hacker-red,
        10.5% 1.5% 0 $hacker-red,
        12% 1.5%  0 $hacker-red,
        13.5% 1.5% 0 $hacker-red,
        15% 1.5% 0 $hacker-black,

    // layer 3
        4.5% 3% 0 $hacker-black,
        6% 3% 0 $hacker-red,
        7.5% 3% 0 $hacker-red,
        9% 3% 0 $hacker-black,
        10.5% 3% 0 $hacker-black,
        12% 3%  0 $hacker-black,
        13.5% 3% 0 $hacker-black,
        15% 3% 0 $hacker-black,
        16.5% 3% 0 $hacker-black,
        18% 3% 0 $hacker-black,

    // layer 4
        4.5% 4.5% 0 $hacker-black,
        6% 4.5% 0 $hacker-red,
        7.5% 4.5% 0 $hacker-black,
        9% 4.5% 0 $hacker-black,
        10.5% 4.5% 0 $hacker-black,
        12% 4.5%  0 $hacker-black,
        13.5% 4.5% 0 $hacker-black,
        15% 4.5% 0 $hacker-black,
        16.5% 4.5% 0 $hacker-black,

    // layer 5
        4.5% 6% 0 $hacker-black,
        6% 6% 0 $hacker-player-skin,
        7.5% 6% 0 $hacker-player-skin,
        9% 6% 0 $hacker-player-skin,
        10.5% 6% 0 $hacker-player-skin,
        12% 6%  0 $hacker-player-skin,
        13.5% 6% 0 $hacker-player-skin,
        15% 6% 0 $hacker-player-skin,

    // layer 6
        4.5% 7.5% 0 $hacker-black,
        6% 7.5% 0 $hacker-player-skin,
        7.5% 7.5% 0 $hacker-player-skin,
        9% 7.5% 0 $hacker-player-skin,
        10.5% 7.5% 0 $hacker-player-skin,
        12% 7.5%  0 $hacker-player-skin,
        13.5% 7.5% 0 $hacker-player-skin,
        15% 7.5% 0 $hacker-player-skin,

    // layer 7
        6% 9% 0 $hacker-black,
        7.5% 9% 0 $hacker-player-skin,
        9% 9% 0 $hacker-player-skin,
        10.5% 9% 0 $hacker-player-skin,
        12% 9%  0 $hacker-player-skin,
        13.5% 9% 0 $hacker-player-skin,
        15% 9% 0 $hacker-player-skin,

    // layer 8 - start torso
        4.5% 10.5% 0 $hacker-black,
        6% 10.5% 0 $hacker-player-gray,
        7.5% 10.5% 0 $hacker-player-gray,
        9% 10.5% 0 $hacker-player-gray,
        10.5% 10.5% 0 $hacker-player-gray,
        12% 10.5%  0 $hacker-player-gray,
        13.5% 10.5% 0 $hacker-player-gray,
        15% 10.5% 0 $hacker-player-gray,

    // layer 9
        3% 12% 0 $hacker-black,
        4.5% 12% 0 $hacker-player-gray,
        6% 12% 0 $hacker-player-gray,
        7.5% 12% 0 $hacker-black,
        9% 12% 0 $hacker-player-gray,
        10.5% 12% 0 $hacker-player-gray,
        12% 12%  0 $hacker-player-gray,
        13.5% 12% 0 $hacker-player-gray,
        15% 12% 0 $hacker-player-gray,
        16.5% 12% 0 $hacker-black,

    // layer 10
        3% 13.5% 0 $hacker-black,
        4.5% 13.5% 0 $hacker-player-gray,
        6% 13.5% 0 $hacker-player-gray,
        7.5% 13.5% 0 $hacker-black,
        9% 13.5% 0 $hacker-player-gray,
        10.5% 13.5% 0 $hacker-player-gray,
        12% 13.5%  0 $hacker-player-gray,
        13.5% 13.5% 0 $hacker-player-gray,
        15% 13.5% 0 $hacker-player-gray,
        16.5% 13.5% 0 $hacker-black,

     // layer 11
        4.5% 15% 0 $hacker-player-skin,
        6% 15% 0 $hacker-player-skin,
        7.5% 15% 0 $hacker-black,
        9% 15% 0 $hacker-player-gray,
        10.5% 15% 0 $hacker-player-gray,
        12% 15%  0 $hacker-player-gray,
        13.5% 15% 0 $hacker-player-gray,
        15% 15% 0 $hacker-player-gray,
        16.5% 15% 0 $hacker-black,

    // layer 12 - start legs
        7.5% 16.5% 0 $hacker-player-blue,
        9% 16.5% 0 $hacker-player-blue,
        10.5% 16.5% 0 $hacker-player-blue,
        12% 16.5%  0 $hacker-player-blue,
        13.5% 16.5% 0 $hacker-player-blue,
        15% 16.5% 0 $hacker-player-blue,

    // layer 13
        7.5% 18% 0 $hacker-player-blue,
        9% 18% 0 $hacker-player-blue,
        10.5% 18% 0 $hacker-player-blue,
        12% 18%  0 $hacker-black,
        13.5% 18% 0 $hacker-player-blue,
        15% 18% 0 $hacker-player-blue,

    // layer 14
        7.5% 19.5% 0 $hacker-player-blue,
        9% 19.5% 0 $hacker-player-blue,
        10.5% 19.5% 0 $hacker-player-blue,
        12% 19.5%  0 $hacker-black,
        13.5% 19.5% 0 $hacker-player-blue,
        15% 19.5% 0 $hacker-player-blue,

    // layer 15 - start feet
        7.5% 21% 0 $hacker-black,
        9% 21% 0 $hacker-white,
        10.5% 21% 0 $hacker-black,
        12% 21%  0 $hacker-black,
        13.5% 21% 0 $hacker-white,
        15% 21% 0 $hacker-white,
        16.5% 21% 0 $hacker-black,

    // layer 16
        6% 22.5% 0 $hacker-black,
        7.5% 22.5% 0 $hacker-white,
        9% 22.5% 0 $hacker-white,
        10.5% 22.5% 0 $hacker-white,
        12% 22.5%  0 $hacker-black,
        13.5% 22.5% 0 $hacker-white,
        15% 22.5% 0 $hacker-white,
        16.5% 22.5% 0 $hacker-white,
        18% 22.5% 0 $hacker-black;
}