.game-board {
    width: 90%;
    max-width: 768px;
    position: relative;
}

.game-empty-block {
    background-color: $hacker-empty-block;
    border: 1px dashed rgba(0,0,0,0.25);
    position: absolute;
}

.game-boarder-block {
    background-color: $hacker-boarder-block;
    border: 1px solid rgb(0,0,0);
    position: absolute;
}