// color assignments //
// ----------------- //

// HackerYou red -> #E20016 , rgb(226,0,22);
$hacker-red: #E20016;
$hacker-white: #FCFCFC;
$hacker-black: #040404;

// Object colors
$hacker-key-green: green;
$hacker-key-blue: blue;
$hacker-pillon-orange: orange;
$hacker-pillon-gray: #454545;
$hacker-exit-lightgray: #888;

// Player specific colors
$hacker-player-gray: #454545;
$hacker-player-blue: navy;
$hacker-player-skin: blanchedalmond;

// Board specific colors
$hacker-empty-block: #DDD;

