html {
    // needs to override any user broswer settings --> figure out alternative if time allows!!
    font-size: 20px;
    line-height: 1.6;
}

ul:not(.start-instructions-list) {
  list-style: none;
  margin: 0;
  padding: 0;  
}