// Pixel art examples explored at https://css-tricks.com/fun-times-css-pixel-art/ -> author credit: Geoff Graham

.arrow-container {
    font-size: 0.3rem;
    height: 12.25em;
    width: 13.75em;
    position: relative;
}

.arrow {
    position: absolute;
    top: 0;
    // determins dimensions of pixels
    // percentage based, changes with container dimensions
    height: 12.5%;
    width: 12.5%;

    box-shadow: 
    // layers lay horizontal, run left to right, stack top to bottom
    // values must be "em" for proper piece resizing

    // layer 1
        6em 0em 0 $hacker-black,
    

    // layer 2
        4.5em 1.5em 0 $hacker-black,
        6em 1.5em 0 $hacker-red,
        7.5em 1.5em 0 $hacker-black,
    
    // layer 3
        3em 3em 0 $hacker-black,
        4.5em 3em 0 $hacker-red,
        6em 3em 0 $hacker-red,
        7.5em 3em 0 $hacker-red,
        9em 3em 0 $hacker-black,
    
    // layer 4
        1.5em 4.5em 0 $hacker-black,
        3em 4.5em 0 $hacker-red,
        4.5em 4.5em 0 $hacker-red,
        6em 4.5em 0 $hacker-red,
        7.5em 4.5em 0 $hacker-red,
        9em 4.5em 0 $hacker-red,
        10.5em 4.5em 0 $hacker-black,
    
    // layer 5
        0em 6em 0 $hacker-black,
        1.5em 6em 0 $hacker-red,
        3em 6em 0 $hacker-red,
        4.5em 6em 0 $hacker-red,
        6em 6em 0 $hacker-red,
        7.5em 6em 0 $hacker-red,
        9em 6em 0 $hacker-red,
        10.5em 6em 0 $hacker-red,
        12em 6em 0 $hacker-black,
    
    // layer 6
        3em 7.5em 0 $hacker-black,
        4.5em 7.5em 0 $hacker-red,
        6em 7.5em 0 $hacker-red,
        7.5em 7.5em 0 $hacker-red,
        9em 7.5em 0 $hacker-black,
    
    // layer 8
        3em 9em 0 $hacker-black,
        4.5em 9em 0 $hacker-red,
        6em 9em 0 $hacker-red,
        7.5em 9em 0 $hacker-red,
        9em 9em 0 $hacker-black,
    
    // layer 7
        3em 10.5em 0 $hacker-black,
        4.5em 10.5em 0 $hacker-black,
        6em 10.5em 0 $hacker-black,
        7.5em 10.5em 0 $hacker-black,
        9em 10.5em 0 $hacker-black,
    ;
}