article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 125%;
}

html {
  font-size: 125%;
}

.game-board {
  width: 45rem;
  height: 45rem;
  border: 2px solid red;
  position: relative;
}

.game-empty-block {
  background-color: #DDD;
  border: 1px dashed rgba(0, 0, 0, 0.25);
  width: 5rem;
  height: 5rem;
  position: absolute;
}

.game-boarder-block {
  background-color: #343434;
  border: 1px solid black;
  width: 5rem;
  height: 5rem;
  position: absolute;
}

.player-container {
  font-size: 0.2rem;
  width: 25em;
  height: 25em;
  position: relative;
  background-color: #DDD;
}

.player {
  position: absolute;
  top: 0;
  height: 6.25%;
  width: 6.25%;
  -webkit-box-shadow: 7.5em 0 0 #040404, 9em 0 0 #040404, 10.5em 0 0 #040404, 12em 0 0 #040404, 13.5em 0 0 #040404, 6em 1.5em 0 #040404, 7.5em 1.5em 0 #E20016, 9em 1.5em 0 #E20016, 10.5em 1.5em 0 #E20016, 12em 1.5em 0 #E20016, 13.5em 1.5em 0 #E20016, 15em 1.5em 0 #040404, 4.5em 3em 0 #040404, 6em 3em 0 #E20016, 7.5em 3em 0 #E20016, 9em 3em 0 #040404, 10.5em 3em 0 #040404, 12em 3em 0 #040404, 13.5em 3em 0 #040404, 15em 3em 0 #040404, 16.5em 3em 0 #040404, 18em 3em 0 #040404, 4.5em 4.5em 0 #040404, 6em 4.5em 0 #E20016, 7.5em 4.5em 0 #040404, 9em 4.5em 0 #040404, 10.5em 4.5em 0 #040404, 12em 4.5em 0 #040404, 13.5em 4.5em 0 #040404, 15em 4.5em 0 #040404, 16.5em 4.5em 0 #040404, 4.5em 6em 0 #040404, 6em 6em 0 blanchedalmond, 7.5em 6em 0 blanchedalmond, 9em 6em 0 blanchedalmond, 10.5em 6em 0 blanchedalmond, 12em 6em 0 blanchedalmond, 13.5em 6em 0 blanchedalmond, 15em 6em 0 blanchedalmond, 4.5em 7.5em 0 #040404, 6em 7.5em 0 blanchedalmond, 7.5em 7.5em 0 blanchedalmond, 9em 7.5em 0 blanchedalmond, 10.5em 7.5em 0 blanchedalmond, 12em 7.5em 0 blanchedalmond, 13.5em 7.5em 0 blanchedalmond, 15em 7.5em 0 blanchedalmond, 6em 9em 0 #040404, 7.5em 9em 0 blanchedalmond, 9em 9em 0 blanchedalmond, 10.5em 9em 0 blanchedalmond, 12em 9em 0 blanchedalmond, 13.5em 9em 0 blanchedalmond, 15em 9em 0 blanchedalmond, 4.5em 10.5em 0 #040404, 6em 10.5em 0 #454545, 7.5em 10.5em 0 #454545, 9em 10.5em 0 #454545, 10.5em 10.5em 0 #454545, 12em 10.5em 0 #454545, 13.5em 10.5em 0 #454545, 15em 10.5em 0 #454545, 3em 12em 0 #040404, 4.5em 12em 0 #454545, 6em 12em 0 #454545, 7.5em 12em 0 #040404, 9em 12em 0 #454545, 10.5em 12em 0 #454545, 12em 12em 0 #454545, 13.5em 12em 0 #454545, 15em 12em 0 #454545, 16.5em 12em 0 #040404, 3em 13.5em 0 #040404, 4.5em 13.5em 0 #454545, 6em 13.5em 0 #454545, 7.5em 13.5em 0 #040404, 9em 13.5em 0 #454545, 10.5em 13.5em 0 #454545, 12em 13.5em 0 #454545, 13.5em 13.5em 0 #454545, 15em 13.5em 0 #454545, 16.5em 13.5em 0 #040404, 4.5em 15em 0 blanchedalmond, 6em 15em 0 blanchedalmond, 7.5em 15em 0 #040404, 9em 15em 0 #454545, 10.5em 15em 0 #454545, 12em 15em 0 #454545, 13.5em 15em 0 #454545, 15em 15em 0 #454545, 16.5em 15em 0 #040404, 7.5em 16.5em 0 navy, 9em 16.5em 0 navy, 10.5em 16.5em 0 navy, 12em 16.5em 0 navy, 13.5em 16.5em 0 navy, 15em 16.5em 0 navy, 7.5em 18em 0 navy, 9em 18em 0 navy, 10.5em 18em 0 navy, 12em 18em 0 #040404, 13.5em 18em 0 navy, 15em 18em 0 navy, 7.5em 19.5em 0 navy, 9em 19.5em 0 navy, 10.5em 19.5em 0 navy, 12em 19.5em 0 #040404, 13.5em 19.5em 0 navy, 15em 19.5em 0 navy, 7.5em 21em 0 #040404, 9em 21em 0 #FCFCFC, 10.5em 21em 0 #040404, 12em 21em 0 #040404, 13.5em 21em 0 #FCFCFC, 15em 21em 0 #FCFCFC, 16.5em 21em 0 #040404, 6em 22.5em 0 #040404, 7.5em 22.5em 0 #FCFCFC, 9em 22.5em 0 #FCFCFC, 10.5em 22.5em 0 #FCFCFC, 12em 22.5em 0 #040404, 13.5em 22.5em 0 #FCFCFC, 15em 22.5em 0 #FCFCFC, 16.5em 22.5em 0 #FCFCFC, 18em 22.5em 0 #040404;
          box-shadow: 7.5em 0 0 #040404, 9em 0 0 #040404, 10.5em 0 0 #040404, 12em 0 0 #040404, 13.5em 0 0 #040404, 6em 1.5em 0 #040404, 7.5em 1.5em 0 #E20016, 9em 1.5em 0 #E20016, 10.5em 1.5em 0 #E20016, 12em 1.5em 0 #E20016, 13.5em 1.5em 0 #E20016, 15em 1.5em 0 #040404, 4.5em 3em 0 #040404, 6em 3em 0 #E20016, 7.5em 3em 0 #E20016, 9em 3em 0 #040404, 10.5em 3em 0 #040404, 12em 3em 0 #040404, 13.5em 3em 0 #040404, 15em 3em 0 #040404, 16.5em 3em 0 #040404, 18em 3em 0 #040404, 4.5em 4.5em 0 #040404, 6em 4.5em 0 #E20016, 7.5em 4.5em 0 #040404, 9em 4.5em 0 #040404, 10.5em 4.5em 0 #040404, 12em 4.5em 0 #040404, 13.5em 4.5em 0 #040404, 15em 4.5em 0 #040404, 16.5em 4.5em 0 #040404, 4.5em 6em 0 #040404, 6em 6em 0 blanchedalmond, 7.5em 6em 0 blanchedalmond, 9em 6em 0 blanchedalmond, 10.5em 6em 0 blanchedalmond, 12em 6em 0 blanchedalmond, 13.5em 6em 0 blanchedalmond, 15em 6em 0 blanchedalmond, 4.5em 7.5em 0 #040404, 6em 7.5em 0 blanchedalmond, 7.5em 7.5em 0 blanchedalmond, 9em 7.5em 0 blanchedalmond, 10.5em 7.5em 0 blanchedalmond, 12em 7.5em 0 blanchedalmond, 13.5em 7.5em 0 blanchedalmond, 15em 7.5em 0 blanchedalmond, 6em 9em 0 #040404, 7.5em 9em 0 blanchedalmond, 9em 9em 0 blanchedalmond, 10.5em 9em 0 blanchedalmond, 12em 9em 0 blanchedalmond, 13.5em 9em 0 blanchedalmond, 15em 9em 0 blanchedalmond, 4.5em 10.5em 0 #040404, 6em 10.5em 0 #454545, 7.5em 10.5em 0 #454545, 9em 10.5em 0 #454545, 10.5em 10.5em 0 #454545, 12em 10.5em 0 #454545, 13.5em 10.5em 0 #454545, 15em 10.5em 0 #454545, 3em 12em 0 #040404, 4.5em 12em 0 #454545, 6em 12em 0 #454545, 7.5em 12em 0 #040404, 9em 12em 0 #454545, 10.5em 12em 0 #454545, 12em 12em 0 #454545, 13.5em 12em 0 #454545, 15em 12em 0 #454545, 16.5em 12em 0 #040404, 3em 13.5em 0 #040404, 4.5em 13.5em 0 #454545, 6em 13.5em 0 #454545, 7.5em 13.5em 0 #040404, 9em 13.5em 0 #454545, 10.5em 13.5em 0 #454545, 12em 13.5em 0 #454545, 13.5em 13.5em 0 #454545, 15em 13.5em 0 #454545, 16.5em 13.5em 0 #040404, 4.5em 15em 0 blanchedalmond, 6em 15em 0 blanchedalmond, 7.5em 15em 0 #040404, 9em 15em 0 #454545, 10.5em 15em 0 #454545, 12em 15em 0 #454545, 13.5em 15em 0 #454545, 15em 15em 0 #454545, 16.5em 15em 0 #040404, 7.5em 16.5em 0 navy, 9em 16.5em 0 navy, 10.5em 16.5em 0 navy, 12em 16.5em 0 navy, 13.5em 16.5em 0 navy, 15em 16.5em 0 navy, 7.5em 18em 0 navy, 9em 18em 0 navy, 10.5em 18em 0 navy, 12em 18em 0 #040404, 13.5em 18em 0 navy, 15em 18em 0 navy, 7.5em 19.5em 0 navy, 9em 19.5em 0 navy, 10.5em 19.5em 0 navy, 12em 19.5em 0 #040404, 13.5em 19.5em 0 navy, 15em 19.5em 0 navy, 7.5em 21em 0 #040404, 9em 21em 0 #FCFCFC, 10.5em 21em 0 #040404, 12em 21em 0 #040404, 13.5em 21em 0 #FCFCFC, 15em 21em 0 #FCFCFC, 16.5em 21em 0 #040404, 6em 22.5em 0 #040404, 7.5em 22.5em 0 #FCFCFC, 9em 22.5em 0 #FCFCFC, 10.5em 22.5em 0 #FCFCFC, 12em 22.5em 0 #040404, 13.5em 22.5em 0 #FCFCFC, 15em 22.5em 0 #FCFCFC, 16.5em 22.5em 0 #FCFCFC, 18em 22.5em 0 #040404;
}

.hacker-chip-container {
  font-size: 0.1rem;
  width: 25em;
  height: 25em;
  background-color: #E20016;
  position: absolute;
  margin: 2.75%;
  -webkit-box-shadow: -1.25rem 1.25rem 0 #DDD, 1.25rem 1.25rem 0 #DDD, 1.25rem -1.25rem 0 #DDD, -1.25rem -1.25rem 0 #DDD;
          box-shadow: -1.25rem 1.25rem 0 #DDD, 1.25rem 1.25rem 0 #DDD, 1.25rem -1.25rem 0 #DDD, -1.25rem -1.25rem 0 #DDD;
}

.hacker-chip {
  position: absolute;
  top: 0;
  height: 12.5%;
  width: 12.5%;
  -webkit-box-shadow: 4.5em 4.5em 0 #FCFCFC, 7.5em 7.5em 0 #FCFCFC, 10.5em 10.5em 0 #FCFCFC, 7.5em 13.5em 0 #FCFCFC, 4.5em 16.5em 0 #FCFCFC, 10.5em 14em 0 #E20016, 13.5em 14em 0 #E20016, 16.5em 14em 0 #E20016, 10.5em 16.5em 0 #FCFCFC, 13.5em 16.5em 0 #FCFCFC, 16.5em 16.5em 0 #FCFCFC;
          box-shadow: 4.5em 4.5em 0 #FCFCFC, 7.5em 7.5em 0 #FCFCFC, 10.5em 10.5em 0 #FCFCFC, 7.5em 13.5em 0 #FCFCFC, 4.5em 16.5em 0 #FCFCFC, 10.5em 14em 0 #E20016, 13.5em 14em 0 #E20016, 16.5em 14em 0 #E20016, 10.5em 16.5em 0 #FCFCFC, 13.5em 16.5em 0 #FCFCFC, 16.5em 16.5em 0 #FCFCFC;
}

@-webkit-keyframes hacker-chip-bounce {
  0% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
    -webkit-box-shadow: 0 0 1.5rem 1rem #eee;
            box-shadow: 0 0 1.5rem 1rem #eee;
  }
  50% {
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
    -webkit-box-shadow: 0 0 2rem 1.5rem #eee;
            box-shadow: 0 0 2rem 1.5rem #eee;
  }
  100% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
    -webkit-box-shadow: 0 0 1.5rem 1rem #eee;
            box-shadow: 0 0 1.5rem 1rem #eee;
  }
}

@keyframes hacker-chip-bounce {
  0% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
    -webkit-box-shadow: 0 0 1.5rem 1rem #eee;
            box-shadow: 0 0 1.5rem 1rem #eee;
  }
  50% {
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
    -webkit-box-shadow: 0 0 2rem 1.5rem #eee;
            box-shadow: 0 0 2rem 1.5rem #eee;
  }
  100% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
    -webkit-box-shadow: 0 0 1.5rem 1rem #eee;
            box-shadow: 0 0 1.5rem 1rem #eee;
  }
}

.hacker-key-container {
  font-size: 0.2rem;
  background-color: #DDD;
  width: 25em;
  height: 25em;
  position: absolute;
}

.hacker-key-red {
  position: absolute;
  top: 0;
  height: 6.25%;
  width: 6.25%;
  -webkit-box-shadow: 9em 1.5em 0 #E20016, 10.5em 1.5em 0 #E20016, 12em 1.5em 0 #E20016, 13.5em 1.5em 0 #E20016, 7.5em 3em 0 #E20016, 9em 3em 0 #E20016, 10.5em 3em 0 #E20016, 12em 3em 0 #E20016, 13.5em 3em 0 #E20016, 15em 3em 0 #E20016, 6em 4.5em 0 #E20016, 7.5em 4.5em 0 #E20016, 15em 4.5em 0 #E20016, 16.5em 4.5em 0 #E20016, 6em 6em 0 #E20016, 7.5em 6em 0 #E20016, 15em 6em 0 #E20016, 16.5em 6em 0 #E20016, 6em 7.5em 0 #E20016, 7.5em 7.5em 0 #E20016, 15em 7.5em 0 #E20016, 16.5em 7.5em 0 #E20016, 7.5em 9em 0 #E20016, 9em 9em 0 #E20016, 10.5em 9em 0 #E20016, 12em 9em 0 #E20016, 13.5em 9em 0 #E20016, 15em 9em 0 #E20016, 9em 10.5em 0 #E20016, 10.5em 10.5em 0 #E20016, 12em 10.5em 0 #E20016, 13.5em 10.5em 0 #E20016, 10.5em 12em 0 #E20016, 12em 12em 0 #E20016, 10.5em 13.5em 0 #E20016, 12em 13.5em 0 #E20016, 10.5em 15em 0 #E20016, 12em 15em 0 #E20016, 13.5em 15em 0 #E20016, 10.5em 16.5em 0 #E20016, 12em 16.5em 0 #E20016, 13.5em 16.5em 0 #E20016, 10.5em 18em 0 #E20016, 12em 18em 0 #E20016, 10.5em 19.5em 0 #E20016, 12em 19.5em 0 #E20016, 13.5em 19.5em 0 #E20016, 15em 19.5em 0 #E20016, 10.5em 21em 0 #E20016, 12em 21em 0 #E20016, 13.5em 21em 0 #E20016, 15em 21em 0 #E20016, 10.5em 22.5em 0 #E20016, 12em 22.5em 0 #E20016;
          box-shadow: 9em 1.5em 0 #E20016, 10.5em 1.5em 0 #E20016, 12em 1.5em 0 #E20016, 13.5em 1.5em 0 #E20016, 7.5em 3em 0 #E20016, 9em 3em 0 #E20016, 10.5em 3em 0 #E20016, 12em 3em 0 #E20016, 13.5em 3em 0 #E20016, 15em 3em 0 #E20016, 6em 4.5em 0 #E20016, 7.5em 4.5em 0 #E20016, 15em 4.5em 0 #E20016, 16.5em 4.5em 0 #E20016, 6em 6em 0 #E20016, 7.5em 6em 0 #E20016, 15em 6em 0 #E20016, 16.5em 6em 0 #E20016, 6em 7.5em 0 #E20016, 7.5em 7.5em 0 #E20016, 15em 7.5em 0 #E20016, 16.5em 7.5em 0 #E20016, 7.5em 9em 0 #E20016, 9em 9em 0 #E20016, 10.5em 9em 0 #E20016, 12em 9em 0 #E20016, 13.5em 9em 0 #E20016, 15em 9em 0 #E20016, 9em 10.5em 0 #E20016, 10.5em 10.5em 0 #E20016, 12em 10.5em 0 #E20016, 13.5em 10.5em 0 #E20016, 10.5em 12em 0 #E20016, 12em 12em 0 #E20016, 10.5em 13.5em 0 #E20016, 12em 13.5em 0 #E20016, 10.5em 15em 0 #E20016, 12em 15em 0 #E20016, 13.5em 15em 0 #E20016, 10.5em 16.5em 0 #E20016, 12em 16.5em 0 #E20016, 13.5em 16.5em 0 #E20016, 10.5em 18em 0 #E20016, 12em 18em 0 #E20016, 10.5em 19.5em 0 #E20016, 12em 19.5em 0 #E20016, 13.5em 19.5em 0 #E20016, 15em 19.5em 0 #E20016, 10.5em 21em 0 #E20016, 12em 21em 0 #E20016, 13.5em 21em 0 #E20016, 15em 21em 0 #E20016, 10.5em 22.5em 0 #E20016, 12em 22.5em 0 #E20016;
}

.hacker-key-green {
  position: absolute;
  top: 0;
  height: 6.25%;
  width: 6.25%;
  -webkit-box-shadow: 9em 1.5em 0 green, 10.5em 1.5em 0 green, 12em 1.5em 0 green, 13.5em 1.5em 0 green, 7.5em 3em 0 green, 9em 3em 0 green, 10.5em 3em 0 green, 12em 3em 0 green, 13.5em 3em 0 green, 15em 3em 0 green, 6em 4.5em 0 green, 7.5em 4.5em 0 green, 15em 4.5em 0 green, 16.5em 4.5em 0 green, 6em 6em 0 green, 7.5em 6em 0 green, 15em 6em 0 green, 16.5em 6em 0 green, 6em 7.5em 0 green, 7.5em 7.5em 0 green, 15em 7.5em 0 green, 16.5em 7.5em 0 green, 7.5em 9em 0 green, 9em 9em 0 green, 10.5em 9em 0 green, 12em 9em 0 green, 13.5em 9em 0 green, 15em 9em 0 green, 9em 10.5em 0 green, 10.5em 10.5em 0 green, 12em 10.5em 0 green, 13.5em 10.5em 0 green, 10.5em 12em 0 green, 12em 12em 0 green, 10.5em 13.5em 0 green, 12em 13.5em 0 green, 10.5em 15em 0 green, 12em 15em 0 green, 13.5em 15em 0 green, 10.5em 16.5em 0 green, 12em 16.5em 0 green, 13.5em 16.5em 0 green, 10.5em 18em 0 green, 12em 18em 0 green, 10.5em 19.5em 0 green, 12em 19.5em 0 green, 13.5em 19.5em 0 green, 15em 19.5em 0 green, 10.5em 21em 0 green, 12em 21em 0 green, 13.5em 21em 0 green, 15em 21em 0 green, 10.5em 22.5em 0 green, 12em 22.5em 0 green;
          box-shadow: 9em 1.5em 0 green, 10.5em 1.5em 0 green, 12em 1.5em 0 green, 13.5em 1.5em 0 green, 7.5em 3em 0 green, 9em 3em 0 green, 10.5em 3em 0 green, 12em 3em 0 green, 13.5em 3em 0 green, 15em 3em 0 green, 6em 4.5em 0 green, 7.5em 4.5em 0 green, 15em 4.5em 0 green, 16.5em 4.5em 0 green, 6em 6em 0 green, 7.5em 6em 0 green, 15em 6em 0 green, 16.5em 6em 0 green, 6em 7.5em 0 green, 7.5em 7.5em 0 green, 15em 7.5em 0 green, 16.5em 7.5em 0 green, 7.5em 9em 0 green, 9em 9em 0 green, 10.5em 9em 0 green, 12em 9em 0 green, 13.5em 9em 0 green, 15em 9em 0 green, 9em 10.5em 0 green, 10.5em 10.5em 0 green, 12em 10.5em 0 green, 13.5em 10.5em 0 green, 10.5em 12em 0 green, 12em 12em 0 green, 10.5em 13.5em 0 green, 12em 13.5em 0 green, 10.5em 15em 0 green, 12em 15em 0 green, 13.5em 15em 0 green, 10.5em 16.5em 0 green, 12em 16.5em 0 green, 13.5em 16.5em 0 green, 10.5em 18em 0 green, 12em 18em 0 green, 10.5em 19.5em 0 green, 12em 19.5em 0 green, 13.5em 19.5em 0 green, 15em 19.5em 0 green, 10.5em 21em 0 green, 12em 21em 0 green, 13.5em 21em 0 green, 15em 21em 0 green, 10.5em 22.5em 0 green, 12em 22.5em 0 green;
}

.hacker-key-blue {
  position: absolute;
  top: 0;
  height: 6.25%;
  width: 6.25%;
  -webkit-box-shadow: 9em 1.5em 0 blue, 10.5em 1.5em 0 blue, 12em 1.5em 0 blue, 13.5em 1.5em 0 blue, 7.5em 3em 0 blue, 9em 3em 0 blue, 10.5em 3em 0 blue, 12em 3em 0 blue, 13.5em 3em 0 blue, 15em 3em 0 blue, 6em 4.5em 0 blue, 7.5em 4.5em 0 blue, 15em 4.5em 0 blue, 16.5em 4.5em 0 blue, 6em 6em 0 blue, 7.5em 6em 0 blue, 15em 6em 0 blue, 16.5em 6em 0 blue, 6em 7.5em 0 blue, 7.5em 7.5em 0 blue, 15em 7.5em 0 blue, 16.5em 7.5em 0 blue, 7.5em 9em 0 blue, 9em 9em 0 blue, 10.5em 9em 0 blue, 12em 9em 0 blue, 13.5em 9em 0 blue, 15em 9em 0 blue, 9em 10.5em 0 blue, 10.5em 10.5em 0 blue, 12em 10.5em 0 blue, 13.5em 10.5em 0 blue, 10.5em 12em 0 blue, 12em 12em 0 blue, 10.5em 13.5em 0 blue, 12em 13.5em 0 blue, 10.5em 15em 0 blue, 12em 15em 0 blue, 13.5em 15em 0 blue, 10.5em 16.5em 0 blue, 12em 16.5em 0 blue, 13.5em 16.5em 0 blue, 10.5em 18em 0 blue, 12em 18em 0 blue, 10.5em 19.5em 0 blue, 12em 19.5em 0 blue, 13.5em 19.5em 0 blue, 15em 19.5em 0 blue, 10.5em 21em 0 blue, 12em 21em 0 blue, 13.5em 21em 0 blue, 15em 21em 0 blue, 10.5em 22.5em 0 blue, 12em 22.5em 0 blue;
          box-shadow: 9em 1.5em 0 blue, 10.5em 1.5em 0 blue, 12em 1.5em 0 blue, 13.5em 1.5em 0 blue, 7.5em 3em 0 blue, 9em 3em 0 blue, 10.5em 3em 0 blue, 12em 3em 0 blue, 13.5em 3em 0 blue, 15em 3em 0 blue, 6em 4.5em 0 blue, 7.5em 4.5em 0 blue, 15em 4.5em 0 blue, 16.5em 4.5em 0 blue, 6em 6em 0 blue, 7.5em 6em 0 blue, 15em 6em 0 blue, 16.5em 6em 0 blue, 6em 7.5em 0 blue, 7.5em 7.5em 0 blue, 15em 7.5em 0 blue, 16.5em 7.5em 0 blue, 7.5em 9em 0 blue, 9em 9em 0 blue, 10.5em 9em 0 blue, 12em 9em 0 blue, 13.5em 9em 0 blue, 15em 9em 0 blue, 9em 10.5em 0 blue, 10.5em 10.5em 0 blue, 12em 10.5em 0 blue, 13.5em 10.5em 0 blue, 10.5em 12em 0 blue, 12em 12em 0 blue, 10.5em 13.5em 0 blue, 12em 13.5em 0 blue, 10.5em 15em 0 blue, 12em 15em 0 blue, 13.5em 15em 0 blue, 10.5em 16.5em 0 blue, 12em 16.5em 0 blue, 13.5em 16.5em 0 blue, 10.5em 18em 0 blue, 12em 18em 0 blue, 10.5em 19.5em 0 blue, 12em 19.5em 0 blue, 13.5em 19.5em 0 blue, 15em 19.5em 0 blue, 10.5em 21em 0 blue, 12em 21em 0 blue, 13.5em 21em 0 blue, 15em 21em 0 blue, 10.5em 22.5em 0 blue, 12em 22.5em 0 blue;
}

.hacker-pillon-container {
  font-size: 0.2rem;
  background-color: #DDD;
  width: 25em;
  height: 25em;
  position: absolute;
}

.hacker-pillon {
  position: absolute;
  top: 0;
  height: 6.25%;
  width: 6.25%;
  -webkit-box-shadow: 10.5em 7.5em 0 orange, 12em 7.5em 0 orange, 9.75em 9em 0 #FCFCFC, 10.5em 9em 0 #FCFCFC, 12em 9em 0 #FCFCFC, 12.75em 9em 0 #FCFCFC, 9em 10.5em 0 orange, 10.5em 10.5em 0 orange, 12em 10.5em 0 orange, 13.5em 10.5em 0 orange, 8.25em 12em 0 #FCFCFC, 9em 12em 0 #FCFCFC, 10.5em 12em 0 #FCFCFC, 12em 12em 0 #FCFCFC, 13.5em 12em 0 #FCFCFC, 14.25em 12em 0 #FCFCFC, 7.5em 13.5em 0 orange, 9em 13.5em 0 orange, 10.5em 13.5em 0 orange, 12em 13.5em 0 orange, 13.5em 13.5em 0 orange, 15em 13.5em 0 orange, 6.75em 15em 0 orange, 7.5em 15em 0 orange, 9em 15em 0 orange, 10.5em 15em 0 orange, 12em 15em 0 orange, 13.5em 15em 0 orange, 15em 15em 0 orange, 15.75em 15em 0 orange, 6em 16.5em 0 orange, 7.5em 16.5em 0 orange, 9em 16.5em 0 orange, 10.5em 16.5em 0 orange, 12em 16.5em 0 orange, 13.5em 16.5em 0 orange, 15em 16.5em 0 orange, 16.5em 16.5em 0 orange, 4.5em 17.25em 0 #454545, 18em 17.25em 0 #454545, 3.75em 18em 0 #454545, 4.5em 18em 0 #454545, 6em 18em 0 #454545, 7.5em 18em 0 #454545, 9em 18em 0 #454545, 10.5em 18em 0 #454545, 12em 18em 0 #454545, 13.5em 18em 0 #454545, 15em 18em 0 #454545, 16.5em 18em 0 #454545, 18em 18em 0 #454545, 18.75em 18em 0 #454545;
          box-shadow: 10.5em 7.5em 0 orange, 12em 7.5em 0 orange, 9.75em 9em 0 #FCFCFC, 10.5em 9em 0 #FCFCFC, 12em 9em 0 #FCFCFC, 12.75em 9em 0 #FCFCFC, 9em 10.5em 0 orange, 10.5em 10.5em 0 orange, 12em 10.5em 0 orange, 13.5em 10.5em 0 orange, 8.25em 12em 0 #FCFCFC, 9em 12em 0 #FCFCFC, 10.5em 12em 0 #FCFCFC, 12em 12em 0 #FCFCFC, 13.5em 12em 0 #FCFCFC, 14.25em 12em 0 #FCFCFC, 7.5em 13.5em 0 orange, 9em 13.5em 0 orange, 10.5em 13.5em 0 orange, 12em 13.5em 0 orange, 13.5em 13.5em 0 orange, 15em 13.5em 0 orange, 6.75em 15em 0 orange, 7.5em 15em 0 orange, 9em 15em 0 orange, 10.5em 15em 0 orange, 12em 15em 0 orange, 13.5em 15em 0 orange, 15em 15em 0 orange, 15.75em 15em 0 orange, 6em 16.5em 0 orange, 7.5em 16.5em 0 orange, 9em 16.5em 0 orange, 10.5em 16.5em 0 orange, 12em 16.5em 0 orange, 13.5em 16.5em 0 orange, 15em 16.5em 0 orange, 16.5em 16.5em 0 orange, 4.5em 17.25em 0 #454545, 18em 17.25em 0 #454545, 3.75em 18em 0 #454545, 4.5em 18em 0 #454545, 6em 18em 0 #454545, 7.5em 18em 0 #454545, 9em 18em 0 #454545, 10.5em 18em 0 #454545, 12em 18em 0 #454545, 13.5em 18em 0 #454545, 15em 18em 0 #454545, 16.5em 18em 0 #454545, 18em 18em 0 #454545, 18.75em 18em 0 #454545;
}

.hacker-exit-container {
  font-size: 0.2rem;
  width: 25em;
  height: 25em;
  position: relative;
  background-color: #DDD;
}

.hacker-exit-closed {
  position: absolute;
  top: 0;
  height: 6.25%;
  width: 6.25%;
  -webkit-box-shadow: 11.25em 1.5em 0 #040404, 6em 3em 0 #040404, 7.5em 3em 0 #040404, 9em 3em 0 #040404, 10.5em 3em 0 #040404, 12em 3em 0 #040404, 13.5em 3em 0 #040404, 15em 3em 0 #040404, 16.5em 3em 0 #040404, 3em 6em 0 #040404, 4.5em 6em 0 #040404, 6em 6em 0 #040404, 7.5em 6em 0 #040404, 9em 6em 0 #040404, 10.5em 6em 0 #888, 12em 6em 0 #E20016, 13.5em 6em 0 #040404, 15em 6em 0 #040404, 16.5em 6em 0 #040404, 18em 6em 0 #040404, 19.5em 6em 0 #040404, 3em 7.5em 0 #040404, 4.5em 7.5em 0 #040404, 6em 7.5em 0 #040404, 7.5em 7.5em 0 #040404, 9em 7.5em 0 #040404, 10.5em 7.5em 0 #040404, 12em 7.5em 0 #040404, 13.5em 7.5em 0 #040404, 15em 7.5em 0 #040404, 16.5em 7.5em 0 #040404, 18em 7.5em 0 #040404, 19.5em 7.5em 0 #040404, 3em 9em 0 #040404, 4.5em 9em 0 #888, 6em 9em 0 #888, 7.5em 9em 0 #888, 9em 9em 0 #888, 10.5em 9em 0 #040404, 12em 9em 0 #040404, 13.5em 9em 0 #888, 15em 9em 0 #888, 16.5em 9em 0 #888, 18em 9em 0 #888, 19.5em 9em 0 #040404, 3em 10.5em 0 #040404, 4.5em 10.5em 0 #888, 6em 10.5em 0 #888, 7.5em 10.5em 0 #888, 9em 10.5em 0 #888, 10.5em 10.5em 0 #040404, 12em 10.5em 0 #040404, 13.5em 10.5em 0 #888, 15em 10.5em 0 #888, 16.5em 10.5em 0 #888, 18em 10.5em 0 #888, 19.5em 10.5em 0 #040404, 3em 12em 0 #040404, 4.5em 12em 0 #888, 6em 12em 0 #888, 7.5em 12em 0 #888, 9em 12em 0 #888, 10.5em 12em 0 #040404, 12em 12em 0 #040404, 13.5em 12em 0 #888, 15em 12em 0 #888, 16.5em 12em 0 #888, 18em 12em 0 #888, 19.5em 12em 0 #040404, 3em 13.5em 0 #040404, 4.5em 13.5em 0 #888, 6em 13.5em 0 #888, 7.5em 13.5em 0 #888, 9em 13.5em 0 #888, 10.5em 13.5em 0 #040404, 12em 13.5em 0 #040404, 13.5em 13.5em 0 #888, 15em 13.5em 0 #888, 16.5em 13.5em 0 #888, 18em 13.5em 0 #888, 19.5em 13.5em 0 #040404, 3em 15em 0 #040404, 4.5em 15em 0 #888, 6em 15em 0 #888, 7.5em 15em 0 #888, 9em 15em 0 #888, 10.5em 15em 0 #040404, 12em 15em 0 #040404, 13.5em 15em 0 #888, 15em 15em 0 #888, 16.5em 15em 0 #888, 18em 15em 0 #888, 19.5em 15em 0 #040404, 3em 16.5em 0 #040404, 4.5em 16.5em 0 #888, 6em 16.5em 0 #888, 7.5em 16.5em 0 #888, 9em 16.5em 0 #888, 10.5em 16.5em 0 #040404, 12em 16.5em 0 #040404, 13.5em 16.5em 0 #888, 15em 16.5em 0 #888, 16.5em 16.5em 0 #888, 18em 16.5em 0 #888, 19.5em 16.5em 0 #040404, 3em 18em 0 #040404, 4.5em 18em 0 #888, 6em 18em 0 #888, 7.5em 18em 0 #888, 9em 18em 0 #888, 10.5em 18em 0 #040404, 12em 18em 0 #040404, 13.5em 18em 0 #888, 15em 18em 0 #888, 16.5em 18em 0 #888, 18em 18em 0 #888, 19.5em 18em 0 #040404, 3em 19.5em 0 #040404, 4.5em 19.5em 0 #040404, 6em 19.5em 0 #040404, 7.5em 19.5em 0 #040404, 9em 19.5em 0 #040404, 10.5em 19.5em 0 #040404, 12em 19.5em 0 #040404, 13.5em 19.5em 0 #040404, 15em 19.5em 0 #040404, 16.5em 19.5em 0 #040404, 18em 19.5em 0 #040404, 19.5em 19.5em 0 #040404;
          box-shadow: 11.25em 1.5em 0 #040404, 6em 3em 0 #040404, 7.5em 3em 0 #040404, 9em 3em 0 #040404, 10.5em 3em 0 #040404, 12em 3em 0 #040404, 13.5em 3em 0 #040404, 15em 3em 0 #040404, 16.5em 3em 0 #040404, 3em 6em 0 #040404, 4.5em 6em 0 #040404, 6em 6em 0 #040404, 7.5em 6em 0 #040404, 9em 6em 0 #040404, 10.5em 6em 0 #888, 12em 6em 0 #E20016, 13.5em 6em 0 #040404, 15em 6em 0 #040404, 16.5em 6em 0 #040404, 18em 6em 0 #040404, 19.5em 6em 0 #040404, 3em 7.5em 0 #040404, 4.5em 7.5em 0 #040404, 6em 7.5em 0 #040404, 7.5em 7.5em 0 #040404, 9em 7.5em 0 #040404, 10.5em 7.5em 0 #040404, 12em 7.5em 0 #040404, 13.5em 7.5em 0 #040404, 15em 7.5em 0 #040404, 16.5em 7.5em 0 #040404, 18em 7.5em 0 #040404, 19.5em 7.5em 0 #040404, 3em 9em 0 #040404, 4.5em 9em 0 #888, 6em 9em 0 #888, 7.5em 9em 0 #888, 9em 9em 0 #888, 10.5em 9em 0 #040404, 12em 9em 0 #040404, 13.5em 9em 0 #888, 15em 9em 0 #888, 16.5em 9em 0 #888, 18em 9em 0 #888, 19.5em 9em 0 #040404, 3em 10.5em 0 #040404, 4.5em 10.5em 0 #888, 6em 10.5em 0 #888, 7.5em 10.5em 0 #888, 9em 10.5em 0 #888, 10.5em 10.5em 0 #040404, 12em 10.5em 0 #040404, 13.5em 10.5em 0 #888, 15em 10.5em 0 #888, 16.5em 10.5em 0 #888, 18em 10.5em 0 #888, 19.5em 10.5em 0 #040404, 3em 12em 0 #040404, 4.5em 12em 0 #888, 6em 12em 0 #888, 7.5em 12em 0 #888, 9em 12em 0 #888, 10.5em 12em 0 #040404, 12em 12em 0 #040404, 13.5em 12em 0 #888, 15em 12em 0 #888, 16.5em 12em 0 #888, 18em 12em 0 #888, 19.5em 12em 0 #040404, 3em 13.5em 0 #040404, 4.5em 13.5em 0 #888, 6em 13.5em 0 #888, 7.5em 13.5em 0 #888, 9em 13.5em 0 #888, 10.5em 13.5em 0 #040404, 12em 13.5em 0 #040404, 13.5em 13.5em 0 #888, 15em 13.5em 0 #888, 16.5em 13.5em 0 #888, 18em 13.5em 0 #888, 19.5em 13.5em 0 #040404, 3em 15em 0 #040404, 4.5em 15em 0 #888, 6em 15em 0 #888, 7.5em 15em 0 #888, 9em 15em 0 #888, 10.5em 15em 0 #040404, 12em 15em 0 #040404, 13.5em 15em 0 #888, 15em 15em 0 #888, 16.5em 15em 0 #888, 18em 15em 0 #888, 19.5em 15em 0 #040404, 3em 16.5em 0 #040404, 4.5em 16.5em 0 #888, 6em 16.5em 0 #888, 7.5em 16.5em 0 #888, 9em 16.5em 0 #888, 10.5em 16.5em 0 #040404, 12em 16.5em 0 #040404, 13.5em 16.5em 0 #888, 15em 16.5em 0 #888, 16.5em 16.5em 0 #888, 18em 16.5em 0 #888, 19.5em 16.5em 0 #040404, 3em 18em 0 #040404, 4.5em 18em 0 #888, 6em 18em 0 #888, 7.5em 18em 0 #888, 9em 18em 0 #888, 10.5em 18em 0 #040404, 12em 18em 0 #040404, 13.5em 18em 0 #888, 15em 18em 0 #888, 16.5em 18em 0 #888, 18em 18em 0 #888, 19.5em 18em 0 #040404, 3em 19.5em 0 #040404, 4.5em 19.5em 0 #040404, 6em 19.5em 0 #040404, 7.5em 19.5em 0 #040404, 9em 19.5em 0 #040404, 10.5em 19.5em 0 #040404, 12em 19.5em 0 #040404, 13.5em 19.5em 0 #040404, 15em 19.5em 0 #040404, 16.5em 19.5em 0 #040404, 18em 19.5em 0 #040404, 19.5em 19.5em 0 #040404;
}

.hacker-exit-open {
  position: absolute;
  top: 0;
  height: 6.25%;
  width: 6.25%;
  -webkit-box-shadow: 11.25em 1.5em 0 #040404, 6em 3em 0 #040404, 7.5em 3em 0 #040404, 9em 3em 0 #040404, 10.5em 3em 0 #040404, 12em 3em 0 #040404, 13.5em 3em 0 #040404, 15em 3em 0 #040404, 16.5em 3em 0 #040404, 3em 6em 0 #040404, 4.5em 6em 0 #040404, 6em 6em 0 #040404, 7.5em 6em 0 #040404, 9em 6em 0 #040404, 10.5em 6em 0 green, 12em 6em 0 #888, 13.5em 6em 0 #040404, 15em 6em 0 #040404, 16.5em 6em 0 #040404, 18em 6em 0 #040404, 19.5em 6em 0 #040404, 3em 7.5em 0 #040404, 4.5em 7.5em 0 #040404, 6em 7.5em 0 #040404, 7.5em 7.5em 0 #040404, 9em 7.5em 0 #040404, 10.5em 7.5em 0 #040404, 12em 7.5em 0 #040404, 13.5em 7.5em 0 #040404, 15em 7.5em 0 #040404, 16.5em 7.5em 0 #040404, 18em 7.5em 0 #040404, 19.5em 7.5em 0 #040404, 3em 9em 0 #040404, 4.5em 9em 0 #888, 6em 9em 0 #888, 7.5em 9em 0 #888, 9em 9em 0 #888, 10.5em 9em 0 #040404, 12em 9em 0 #040404, 13.5em 9em 0 #888, 15em 9em 0 #888, 16.5em 9em 0 #888, 18em 9em 0 #888, 19.5em 9em 0 #040404, 3em 10.5em 0 #040404, 4.5em 10.5em 0 #888, 6em 10.5em 0 #888, 7.5em 10.5em 0 #888, 9em 10.5em 0 #888, 10.5em 10.5em 0 #040404, 12em 10.5em 0 #040404, 13.5em 10.5em 0 #888, 15em 10.5em 0 #888, 16.5em 10.5em 0 #888, 18em 10.5em 0 #888, 19.5em 10.5em 0 #040404, 3em 12em 0 #040404, 4.5em 12em 0 #888, 6em 12em 0 #888, 7.5em 12em 0 #888, 9em 12em 0 #888, 10.5em 12em 0 #040404, 12em 12em 0 #040404, 13.5em 12em 0 #888, 15em 12em 0 #888, 16.5em 12em 0 #888, 18em 12em 0 #888, 19.5em 12em 0 #040404, 3em 13.5em 0 #040404, 4.5em 13.5em 0 #888, 6em 13.5em 0 #888, 7.5em 13.5em 0 #888, 9em 13.5em 0 #888, 10.5em 13.5em 0 #040404, 12em 13.5em 0 #040404, 13.5em 13.5em 0 #888, 15em 13.5em 0 #888, 16.5em 13.5em 0 #888, 18em 13.5em 0 #888, 19.5em 13.5em 0 #040404, 3em 15em 0 #040404, 4.5em 15em 0 #888, 6em 15em 0 #888, 7.5em 15em 0 #888, 9em 15em 0 #888, 10.5em 15em 0 #040404, 12em 15em 0 #040404, 13.5em 15em 0 #888, 15em 15em 0 #888, 16.5em 15em 0 #888, 18em 15em 0 #888, 19.5em 15em 0 #040404, 3em 16.5em 0 #040404, 4.5em 16.5em 0 #888, 6em 16.5em 0 #888, 7.5em 16.5em 0 #888, 9em 16.5em 0 #888, 10.5em 16.5em 0 #040404, 12em 16.5em 0 #040404, 13.5em 16.5em 0 #888, 15em 16.5em 0 #888, 16.5em 16.5em 0 #888, 18em 16.5em 0 #888, 19.5em 16.5em 0 #040404, 3em 18em 0 #040404, 4.5em 18em 0 #888, 6em 18em 0 #888, 7.5em 18em 0 #888, 9em 18em 0 #888, 10.5em 18em 0 #040404, 12em 18em 0 #040404, 13.5em 18em 0 #888, 15em 18em 0 #888, 16.5em 18em 0 #888, 18em 18em 0 #888, 19.5em 18em 0 #040404, 3em 19.5em 0 #040404, 4.5em 19.5em 0 #040404, 6em 19.5em 0 #040404, 7.5em 19.5em 0 #040404, 9em 19.5em 0 #040404, 10.5em 19.5em 0 #040404, 12em 19.5em 0 #040404, 13.5em 19.5em 0 #040404, 15em 19.5em 0 #040404, 16.5em 19.5em 0 #040404, 18em 19.5em 0 #040404, 19.5em 19.5em 0 #040404;
          box-shadow: 11.25em 1.5em 0 #040404, 6em 3em 0 #040404, 7.5em 3em 0 #040404, 9em 3em 0 #040404, 10.5em 3em 0 #040404, 12em 3em 0 #040404, 13.5em 3em 0 #040404, 15em 3em 0 #040404, 16.5em 3em 0 #040404, 3em 6em 0 #040404, 4.5em 6em 0 #040404, 6em 6em 0 #040404, 7.5em 6em 0 #040404, 9em 6em 0 #040404, 10.5em 6em 0 green, 12em 6em 0 #888, 13.5em 6em 0 #040404, 15em 6em 0 #040404, 16.5em 6em 0 #040404, 18em 6em 0 #040404, 19.5em 6em 0 #040404, 3em 7.5em 0 #040404, 4.5em 7.5em 0 #040404, 6em 7.5em 0 #040404, 7.5em 7.5em 0 #040404, 9em 7.5em 0 #040404, 10.5em 7.5em 0 #040404, 12em 7.5em 0 #040404, 13.5em 7.5em 0 #040404, 15em 7.5em 0 #040404, 16.5em 7.5em 0 #040404, 18em 7.5em 0 #040404, 19.5em 7.5em 0 #040404, 3em 9em 0 #040404, 4.5em 9em 0 #888, 6em 9em 0 #888, 7.5em 9em 0 #888, 9em 9em 0 #888, 10.5em 9em 0 #040404, 12em 9em 0 #040404, 13.5em 9em 0 #888, 15em 9em 0 #888, 16.5em 9em 0 #888, 18em 9em 0 #888, 19.5em 9em 0 #040404, 3em 10.5em 0 #040404, 4.5em 10.5em 0 #888, 6em 10.5em 0 #888, 7.5em 10.5em 0 #888, 9em 10.5em 0 #888, 10.5em 10.5em 0 #040404, 12em 10.5em 0 #040404, 13.5em 10.5em 0 #888, 15em 10.5em 0 #888, 16.5em 10.5em 0 #888, 18em 10.5em 0 #888, 19.5em 10.5em 0 #040404, 3em 12em 0 #040404, 4.5em 12em 0 #888, 6em 12em 0 #888, 7.5em 12em 0 #888, 9em 12em 0 #888, 10.5em 12em 0 #040404, 12em 12em 0 #040404, 13.5em 12em 0 #888, 15em 12em 0 #888, 16.5em 12em 0 #888, 18em 12em 0 #888, 19.5em 12em 0 #040404, 3em 13.5em 0 #040404, 4.5em 13.5em 0 #888, 6em 13.5em 0 #888, 7.5em 13.5em 0 #888, 9em 13.5em 0 #888, 10.5em 13.5em 0 #040404, 12em 13.5em 0 #040404, 13.5em 13.5em 0 #888, 15em 13.5em 0 #888, 16.5em 13.5em 0 #888, 18em 13.5em 0 #888, 19.5em 13.5em 0 #040404, 3em 15em 0 #040404, 4.5em 15em 0 #888, 6em 15em 0 #888, 7.5em 15em 0 #888, 9em 15em 0 #888, 10.5em 15em 0 #040404, 12em 15em 0 #040404, 13.5em 15em 0 #888, 15em 15em 0 #888, 16.5em 15em 0 #888, 18em 15em 0 #888, 19.5em 15em 0 #040404, 3em 16.5em 0 #040404, 4.5em 16.5em 0 #888, 6em 16.5em 0 #888, 7.5em 16.5em 0 #888, 9em 16.5em 0 #888, 10.5em 16.5em 0 #040404, 12em 16.5em 0 #040404, 13.5em 16.5em 0 #888, 15em 16.5em 0 #888, 16.5em 16.5em 0 #888, 18em 16.5em 0 #888, 19.5em 16.5em 0 #040404, 3em 18em 0 #040404, 4.5em 18em 0 #888, 6em 18em 0 #888, 7.5em 18em 0 #888, 9em 18em 0 #888, 10.5em 18em 0 #040404, 12em 18em 0 #040404, 13.5em 18em 0 #888, 15em 18em 0 #888, 16.5em 18em 0 #888, 18em 18em 0 #888, 19.5em 18em 0 #040404, 3em 19.5em 0 #040404, 4.5em 19.5em 0 #040404, 6em 19.5em 0 #040404, 7.5em 19.5em 0 #040404, 9em 19.5em 0 #040404, 10.5em 19.5em 0 #040404, 12em 19.5em 0 #040404, 13.5em 19.5em 0 #040404, 15em 19.5em 0 #040404, 16.5em 19.5em 0 #040404, 18em 19.5em 0 #040404, 19.5em 19.5em 0 #040404;
}

.hacker-lock-container {
  font-size: 0.2rem;
  width: 25em;
  height: 25em;
  position: absolute;
  background-color: #343434;
}

.hacker-lock-red {
  position: absolute;
  top: 0;
  height: 6.25%;
  width: 6.25%;
  -webkit-box-shadow: 9em 3em 0 #E20016, 10.5em 3em 0 #E20016, 12em 3em 0 #E20016, 13.5em 3em 0 #E20016, 7.5em 4.5em 0 #E20016, 15em 4.5em 0 #E20016, 6em 6em 0 #E20016, 16.5em 6em 0 #E20016, 6em 7.5em 0 #E20016, 16.5em 7.5em 0 #E20016, 6em 9em 0 #E20016, 16.5em 9em 0 #E20016, 4.5em 10.5em 0 #E20016, 6em 10.5em 0 #E20016, 7.5em 10.5em 0 #E20016, 9em 10.5em 0 #E20016, 10.5em 10.5em 0 #E20016, 12em 10.5em 0 #E20016, 13.5em 10.5em 0 #E20016, 15em 10.5em 0 #E20016, 16.5em 10.5em 0 #E20016, 18em 10.5em 0 #E20016, 4.5em 12em 0 #E20016, 6em 12em 0 #E20016, 7.5em 12em 0 #E20016, 9em 12em 0 #E20016, 10.5em 12em 0 #040404, 12em 12em 0 #040404, 13.5em 12em 0 #E20016, 15em 12em 0 #E20016, 16.5em 12em 0 #E20016, 18em 12em 0 #E20016, 4.5em 13.5em 0 #E20016, 6em 13.5em 0 #E20016, 7.5em 13.5em 0 #E20016, 9em 13.5em 0 #E20016, 10.5em 13.5em 0 #040404, 12em 13.5em 0 #040404, 13.5em 13.5em 0 #E20016, 15em 13.5em 0 #E20016, 16.5em 13.5em 0 #E20016, 18em 13.5em 0 #E20016, 4.5em 15em 0 #E20016, 6em 15em 0 #E20016, 7.5em 15em 0 #E20016, 9em 15em 0 #E20016, 10.5em 15em 0 #040404, 12em 15em 0 #040404, 13.5em 15em 0 #E20016, 15em 15em 0 #E20016, 16.5em 15em 0 #E20016, 18em 15em 0 #E20016, 4.5em 16.5em 0 #E20016, 6em 16.5em 0 #E20016, 7.5em 16.5em 0 #E20016, 9em 16.5em 0 #E20016, 10.5em 16.5em 0 #E20016, 12em 16.5em 0 #E20016, 13.5em 16.5em 0 #E20016, 15em 16.5em 0 #E20016, 16.5em 16.5em 0 #E20016, 18em 16.5em 0 #E20016, 4.5em 18em 0 #E20016, 6em 18em 0 #E20016, 7.5em 18em 0 #E20016, 9em 18em 0 #E20016, 10.5em 18em 0 #E20016, 12em 18em 0 #E20016, 13.5em 18em 0 #E20016, 15em 18em 0 #E20016, 16.5em 18em 0 #E20016, 18em 18em 0 #E20016, 4.5em 19.5em 0 #E20016, 6em 19.5em 0 #E20016, 7.5em 19.5em 0 #E20016, 9em 19.5em 0 #E20016, 10.5em 19.5em 0 #E20016, 12em 19.5em 0 #E20016, 13.5em 19.5em 0 #E20016, 15em 19.5em 0 #E20016, 16.5em 19.5em 0 #E20016, 18em 19.5em 0 #E20016;
          box-shadow: 9em 3em 0 #E20016, 10.5em 3em 0 #E20016, 12em 3em 0 #E20016, 13.5em 3em 0 #E20016, 7.5em 4.5em 0 #E20016, 15em 4.5em 0 #E20016, 6em 6em 0 #E20016, 16.5em 6em 0 #E20016, 6em 7.5em 0 #E20016, 16.5em 7.5em 0 #E20016, 6em 9em 0 #E20016, 16.5em 9em 0 #E20016, 4.5em 10.5em 0 #E20016, 6em 10.5em 0 #E20016, 7.5em 10.5em 0 #E20016, 9em 10.5em 0 #E20016, 10.5em 10.5em 0 #E20016, 12em 10.5em 0 #E20016, 13.5em 10.5em 0 #E20016, 15em 10.5em 0 #E20016, 16.5em 10.5em 0 #E20016, 18em 10.5em 0 #E20016, 4.5em 12em 0 #E20016, 6em 12em 0 #E20016, 7.5em 12em 0 #E20016, 9em 12em 0 #E20016, 10.5em 12em 0 #040404, 12em 12em 0 #040404, 13.5em 12em 0 #E20016, 15em 12em 0 #E20016, 16.5em 12em 0 #E20016, 18em 12em 0 #E20016, 4.5em 13.5em 0 #E20016, 6em 13.5em 0 #E20016, 7.5em 13.5em 0 #E20016, 9em 13.5em 0 #E20016, 10.5em 13.5em 0 #040404, 12em 13.5em 0 #040404, 13.5em 13.5em 0 #E20016, 15em 13.5em 0 #E20016, 16.5em 13.5em 0 #E20016, 18em 13.5em 0 #E20016, 4.5em 15em 0 #E20016, 6em 15em 0 #E20016, 7.5em 15em 0 #E20016, 9em 15em 0 #E20016, 10.5em 15em 0 #040404, 12em 15em 0 #040404, 13.5em 15em 0 #E20016, 15em 15em 0 #E20016, 16.5em 15em 0 #E20016, 18em 15em 0 #E20016, 4.5em 16.5em 0 #E20016, 6em 16.5em 0 #E20016, 7.5em 16.5em 0 #E20016, 9em 16.5em 0 #E20016, 10.5em 16.5em 0 #E20016, 12em 16.5em 0 #E20016, 13.5em 16.5em 0 #E20016, 15em 16.5em 0 #E20016, 16.5em 16.5em 0 #E20016, 18em 16.5em 0 #E20016, 4.5em 18em 0 #E20016, 6em 18em 0 #E20016, 7.5em 18em 0 #E20016, 9em 18em 0 #E20016, 10.5em 18em 0 #E20016, 12em 18em 0 #E20016, 13.5em 18em 0 #E20016, 15em 18em 0 #E20016, 16.5em 18em 0 #E20016, 18em 18em 0 #E20016, 4.5em 19.5em 0 #E20016, 6em 19.5em 0 #E20016, 7.5em 19.5em 0 #E20016, 9em 19.5em 0 #E20016, 10.5em 19.5em 0 #E20016, 12em 19.5em 0 #E20016, 13.5em 19.5em 0 #E20016, 15em 19.5em 0 #E20016, 16.5em 19.5em 0 #E20016, 18em 19.5em 0 #E20016;
}

.hacker-lock-blue {
  position: absolute;
  top: 0;
  height: 6.25%;
  width: 6.25%;
  -webkit-box-shadow: 9em 3em 0 blue, 10.5em 3em 0 blue, 12em 3em 0 blue, 13.5em 3em 0 blue, 7.5em 4.5em 0 blue, 15em 4.5em 0 blue, 6em 6em 0 blue, 16.5em 6em 0 blue, 6em 7.5em 0 blue, 16.5em 7.5em 0 blue, 6em 9em 0 blue, 16.5em 9em 0 blue, 4.5em 10.5em 0 blue, 6em 10.5em 0 blue, 7.5em 10.5em 0 blue, 9em 10.5em 0 blue, 10.5em 10.5em 0 blue, 12em 10.5em 0 blue, 13.5em 10.5em 0 blue, 15em 10.5em 0 blue, 16.5em 10.5em 0 blue, 18em 10.5em 0 blue, 4.5em 12em 0 blue, 6em 12em 0 blue, 7.5em 12em 0 blue, 9em 12em 0 blue, 10.5em 12em 0 #040404, 12em 12em 0 #040404, 13.5em 12em 0 blue, 15em 12em 0 blue, 16.5em 12em 0 blue, 18em 12em 0 blue, 4.5em 13.5em 0 blue, 6em 13.5em 0 blue, 7.5em 13.5em 0 blue, 9em 13.5em 0 blue, 10.5em 13.5em 0 #040404, 12em 13.5em 0 #040404, 13.5em 13.5em 0 blue, 15em 13.5em 0 blue, 16.5em 13.5em 0 blue, 18em 13.5em 0 blue, 4.5em 15em 0 blue, 6em 15em 0 blue, 7.5em 15em 0 blue, 9em 15em 0 blue, 10.5em 15em 0 #040404, 12em 15em 0 #040404, 13.5em 15em 0 blue, 15em 15em 0 blue, 16.5em 15em 0 blue, 18em 15em 0 blue, 4.5em 16.5em 0 blue, 6em 16.5em 0 blue, 7.5em 16.5em 0 blue, 9em 16.5em 0 blue, 10.5em 16.5em 0 blue, 12em 16.5em 0 blue, 13.5em 16.5em 0 blue, 15em 16.5em 0 blue, 16.5em 16.5em 0 blue, 18em 16.5em 0 blue, 4.5em 18em 0 blue, 6em 18em 0 blue, 7.5em 18em 0 blue, 9em 18em 0 blue, 10.5em 18em 0 blue, 12em 18em 0 blue, 13.5em 18em 0 blue, 15em 18em 0 blue, 16.5em 18em 0 blue, 18em 18em 0 blue, 4.5em 19.5em 0 blue, 6em 19.5em 0 blue, 7.5em 19.5em 0 blue, 9em 19.5em 0 blue, 10.5em 19.5em 0 blue, 12em 19.5em 0 blue, 13.5em 19.5em 0 blue, 15em 19.5em 0 blue, 16.5em 19.5em 0 blue, 18em 19.5em 0 blue;
          box-shadow: 9em 3em 0 blue, 10.5em 3em 0 blue, 12em 3em 0 blue, 13.5em 3em 0 blue, 7.5em 4.5em 0 blue, 15em 4.5em 0 blue, 6em 6em 0 blue, 16.5em 6em 0 blue, 6em 7.5em 0 blue, 16.5em 7.5em 0 blue, 6em 9em 0 blue, 16.5em 9em 0 blue, 4.5em 10.5em 0 blue, 6em 10.5em 0 blue, 7.5em 10.5em 0 blue, 9em 10.5em 0 blue, 10.5em 10.5em 0 blue, 12em 10.5em 0 blue, 13.5em 10.5em 0 blue, 15em 10.5em 0 blue, 16.5em 10.5em 0 blue, 18em 10.5em 0 blue, 4.5em 12em 0 blue, 6em 12em 0 blue, 7.5em 12em 0 blue, 9em 12em 0 blue, 10.5em 12em 0 #040404, 12em 12em 0 #040404, 13.5em 12em 0 blue, 15em 12em 0 blue, 16.5em 12em 0 blue, 18em 12em 0 blue, 4.5em 13.5em 0 blue, 6em 13.5em 0 blue, 7.5em 13.5em 0 blue, 9em 13.5em 0 blue, 10.5em 13.5em 0 #040404, 12em 13.5em 0 #040404, 13.5em 13.5em 0 blue, 15em 13.5em 0 blue, 16.5em 13.5em 0 blue, 18em 13.5em 0 blue, 4.5em 15em 0 blue, 6em 15em 0 blue, 7.5em 15em 0 blue, 9em 15em 0 blue, 10.5em 15em 0 #040404, 12em 15em 0 #040404, 13.5em 15em 0 blue, 15em 15em 0 blue, 16.5em 15em 0 blue, 18em 15em 0 blue, 4.5em 16.5em 0 blue, 6em 16.5em 0 blue, 7.5em 16.5em 0 blue, 9em 16.5em 0 blue, 10.5em 16.5em 0 blue, 12em 16.5em 0 blue, 13.5em 16.5em 0 blue, 15em 16.5em 0 blue, 16.5em 16.5em 0 blue, 18em 16.5em 0 blue, 4.5em 18em 0 blue, 6em 18em 0 blue, 7.5em 18em 0 blue, 9em 18em 0 blue, 10.5em 18em 0 blue, 12em 18em 0 blue, 13.5em 18em 0 blue, 15em 18em 0 blue, 16.5em 18em 0 blue, 18em 18em 0 blue, 4.5em 19.5em 0 blue, 6em 19.5em 0 blue, 7.5em 19.5em 0 blue, 9em 19.5em 0 blue, 10.5em 19.5em 0 blue, 12em 19.5em 0 blue, 13.5em 19.5em 0 blue, 15em 19.5em 0 blue, 16.5em 19.5em 0 blue, 18em 19.5em 0 blue;
}

.hacker-lock-green {
  position: absolute;
  top: 0;
  height: 6.25%;
  width: 6.25%;
  -webkit-box-shadow: 9em 3em 0 green, 10.5em 3em 0 green, 12em 3em 0 green, 13.5em 3em 0 green, 7.5em 4.5em 0 green, 15em 4.5em 0 green, 6em 6em 0 green, 16.5em 6em 0 green, 6em 7.5em 0 green, 16.5em 7.5em 0 green, 6em 9em 0 green, 16.5em 9em 0 green, 4.5em 10.5em 0 green, 6em 10.5em 0 green, 7.5em 10.5em 0 green, 9em 10.5em 0 green, 10.5em 10.5em 0 green, 12em 10.5em 0 green, 13.5em 10.5em 0 green, 15em 10.5em 0 green, 16.5em 10.5em 0 green, 18em 10.5em 0 green, 4.5em 12em 0 green, 6em 12em 0 green, 7.5em 12em 0 green, 9em 12em 0 green, 10.5em 12em 0 #040404, 12em 12em 0 #040404, 13.5em 12em 0 green, 15em 12em 0 green, 16.5em 12em 0 green, 18em 12em 0 green, 4.5em 13.5em 0 green, 6em 13.5em 0 green, 7.5em 13.5em 0 green, 9em 13.5em 0 green, 10.5em 13.5em 0 #040404, 12em 13.5em 0 #040404, 13.5em 13.5em 0 green, 15em 13.5em 0 green, 16.5em 13.5em 0 green, 18em 13.5em 0 green, 4.5em 15em 0 green, 6em 15em 0 green, 7.5em 15em 0 green, 9em 15em 0 green, 10.5em 15em 0 #040404, 12em 15em 0 #040404, 13.5em 15em 0 green, 15em 15em 0 green, 16.5em 15em 0 green, 18em 15em 0 green, 4.5em 16.5em 0 green, 6em 16.5em 0 green, 7.5em 16.5em 0 green, 9em 16.5em 0 green, 10.5em 16.5em 0 green, 12em 16.5em 0 green, 13.5em 16.5em 0 green, 15em 16.5em 0 green, 16.5em 16.5em 0 green, 18em 16.5em 0 green, 4.5em 18em 0 green, 6em 18em 0 green, 7.5em 18em 0 green, 9em 18em 0 green, 10.5em 18em 0 green, 12em 18em 0 green, 13.5em 18em 0 green, 15em 18em 0 green, 16.5em 18em 0 green, 18em 18em 0 green, 4.5em 19.5em 0 green, 6em 19.5em 0 green, 7.5em 19.5em 0 green, 9em 19.5em 0 green, 10.5em 19.5em 0 green, 12em 19.5em 0 green, 13.5em 19.5em 0 green, 15em 19.5em 0 green, 16.5em 19.5em 0 green, 18em 19.5em 0 green;
          box-shadow: 9em 3em 0 green, 10.5em 3em 0 green, 12em 3em 0 green, 13.5em 3em 0 green, 7.5em 4.5em 0 green, 15em 4.5em 0 green, 6em 6em 0 green, 16.5em 6em 0 green, 6em 7.5em 0 green, 16.5em 7.5em 0 green, 6em 9em 0 green, 16.5em 9em 0 green, 4.5em 10.5em 0 green, 6em 10.5em 0 green, 7.5em 10.5em 0 green, 9em 10.5em 0 green, 10.5em 10.5em 0 green, 12em 10.5em 0 green, 13.5em 10.5em 0 green, 15em 10.5em 0 green, 16.5em 10.5em 0 green, 18em 10.5em 0 green, 4.5em 12em 0 green, 6em 12em 0 green, 7.5em 12em 0 green, 9em 12em 0 green, 10.5em 12em 0 #040404, 12em 12em 0 #040404, 13.5em 12em 0 green, 15em 12em 0 green, 16.5em 12em 0 green, 18em 12em 0 green, 4.5em 13.5em 0 green, 6em 13.5em 0 green, 7.5em 13.5em 0 green, 9em 13.5em 0 green, 10.5em 13.5em 0 #040404, 12em 13.5em 0 #040404, 13.5em 13.5em 0 green, 15em 13.5em 0 green, 16.5em 13.5em 0 green, 18em 13.5em 0 green, 4.5em 15em 0 green, 6em 15em 0 green, 7.5em 15em 0 green, 9em 15em 0 green, 10.5em 15em 0 #040404, 12em 15em 0 #040404, 13.5em 15em 0 green, 15em 15em 0 green, 16.5em 15em 0 green, 18em 15em 0 green, 4.5em 16.5em 0 green, 6em 16.5em 0 green, 7.5em 16.5em 0 green, 9em 16.5em 0 green, 10.5em 16.5em 0 green, 12em 16.5em 0 green, 13.5em 16.5em 0 green, 15em 16.5em 0 green, 16.5em 16.5em 0 green, 18em 16.5em 0 green, 4.5em 18em 0 green, 6em 18em 0 green, 7.5em 18em 0 green, 9em 18em 0 green, 10.5em 18em 0 green, 12em 18em 0 green, 13.5em 18em 0 green, 15em 18em 0 green, 16.5em 18em 0 green, 18em 18em 0 green, 4.5em 19.5em 0 green, 6em 19.5em 0 green, 7.5em 19.5em 0 green, 9em 19.5em 0 green, 10.5em 19.5em 0 green, 12em 19.5em 0 green, 13.5em 19.5em 0 green, 15em 19.5em 0 green, 16.5em 19.5em 0 green, 18em 19.5em 0 green;
}
/*# sourceMappingURL=style.css.map */